* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 1.5fr 1.2fr;
}

/* Homepage Top */

.homepageTop {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    background-color: lightcoral;
}

.websiteLogo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: auto;
}

#citySearch {
    height: 40px;
    width: 600px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.tempFormatButton {
    margin-left: auto;
}

.tempFormatButton,
.weeklyHourlyButton {
    width: 220px;
    height: 50px;
}

.weeklyHourlyButton {
    margin-top: auto;
    justify-self: center;
}


/* Homepage Middle */

.homepageMiddle {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
    justify-items: center;
    padding: 10px 0;
}

.homepageMiddle > * {
    display: grid;
    justify-content: space-around;
    text-align: center;
    justify-items: center;
}

/* Middle Left */

.hmlCityName {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 70px;
}

.hmlDateContainer,
.hmcTempContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 2rem;
}

/* Middle Center */

.hmcMainTemp {
    font-size: 4rem;
    font-weight: bold;
}

/* Middle Right */

.homepageMiddleRight {
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hmrInfoContainer {
    justify-self: flex-start;
    text-align: left;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

/* Homepage Bottom */

.homepageBottom {
    background-color: lightgreen;
    display: flex;
    padding: 20px 20px 60px 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center; 
    align-content: center;
}

.bottomDiv {
    font-size: 1.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}